@charset "utf-8";

.my_kanban {
/*	text-align: center; */
/*	font-size: 15px;*/
	background-color: #9ACD32;
/*	margin: 10px 30px 5px 10px; */
}

.my_kanban_image {
	margin-left: 10px;
	margin-right: 10px;
}

.my_kanban_text_main {
	font-family: Arial black;
	font-size: 20px;
	font-style: italic;
	text-align: left;
}

.my_kanban_text {
	font-family: Book Antiqua;
	font-size: 16px;
    font-weight: bold;
	text-align: center;
	color: black;
}

.my_kanban_2 {
	background-color: #F4A460;
/*	background-color: #FFAA11; */
	margin: 10px 10px 5px 10px; 
}

.my_kanban_image_2 {
	margin-top: 12%;
}